
/*На данный момент верстается Pixel Perfect для 1200px*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body{
  background-color: #f2f2f2;

  font-family:"PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  text-transform: uppercase;
}

.wrapper{
  margin: 0 auto;
  /*padding-left: 40px;
  padding-right: 40px;*/
  width: 1200px;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.visually-hidden{
  position: absolute;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
}

/*---header---*/

.main-navigation{
  background-color: white;
  display: flex;
  height:56px;
}

.main-menu{
  display: flex;
  list-style: none;
}

.main-menu li{
  width:240px;
}

.main-menu a{
  color: black;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu a:hover{
  color: #81b3d2;
}

.main-menu a:active{
  opacity: .3;
}

.main-menu a.link-active{
  color: #766357;
}

/*---Welcome section---*/

.welcome{
  height:717px;
  background-color: #31403b;
  background-image: url("../img/sedona-background.jpg");
  background-position: 0px -83px;
  background-size: 100%;
  background-repeat: no-repeat;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome img{
  display: block;
  margin: 0 auto;
  padding-top: 75px;
}

/*---Lead section---*/

.main-lead{
  background-color:white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-lead b{
  width: 440px;

  text-align: center;
  color: black;
  font-size: 21px;
  text-transform: uppercase;

}

.main-lead p{
  text-transform: uppercase;
}

.reason{
  background-color:#81b3d2;
  display:flex;
  height: 255px;
}

.reason .description{
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description h3{
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.reason .reason-photo{
  width:760px;
  height: 255px;
}

.reason:nth-of-type(2) .reason-photo{
  background-color: #b3b3c1;
  background-image: url("../img/reason-1.jpg");
}

.reason:nth-of-type(4) .reason-photo{
  background-color: #e0ad98;
  background-image: url("../img/reason-2.jpg");
  order: -1;
}

.gray-reason{
  background-color: #eee;
}

.feature-item h3,
.gray-reason h3,
.result-description h3{
  font-size: 21px;
  font-weight: bold;
  color: black;
  background-color: inherit;
}

.features-items{
  list-style: none;
}

.searchhotel h2{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: black;
}
