
/*Pixel Perfect 1200px*/
body{
  background-color: #f2f2f2;

  font-family:"PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  text-transform: uppercase;
}

.wrapper{
  margin: 0 auto;
  position: relative;
  width: 1200px;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
  height: 100%;
}

.visually-hidden{
  position: absolute;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
}

/*---header---*/
.main-navigation{
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height:56px;
  flex-wrap: wrap;
}

.main-navigation a{
  padding: 0;
}

.main-navigation .logo{
  order: 1;
  margin-top: -55px;
}

.main-menu{
  display: flex;
  list-style: none;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
}

.main-menu li{
  width:240px;
}

/*margin for logo*/
.main-menu li:nth-child(2){
  margin-right: 93px;
}

.main-menu li:nth-child(3){
  margin-right: 5px;
}

.menu-item-left{
  text-align: left;
}

.menu-item-right{
  text-align: right;
}

.main-menu a{
  color: black;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu a:hover{
  color: #81b3d2;
}

.main-menu a:active{
  opacity: .3;
}

.main-menu a.link-active{
  color: #766357;
}

/*---Promo---*/
.welcome{
  height:507px;
  background-color: #31403b;
  background-image: url("../img/sedona-background.jpg");
  background-position: 0px -83px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome .promo{
  display: block;
  margin: 0 auto;
  padding-top: 77px;
}

/*---Lead---*/
.main-lead{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 185px;
  margin-top: 33px;
}

.main-lead b{
  width: 440px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 28px;
}

.main-lead p{
  margin-top:26px;
  text-transform: uppercase;
}

.reason{
  background-color:#81b3d2;
  display: flex;
  height: 255px;
  color: white;
}

.reason .description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  text-align: center;
}

.description h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
  width: 160px;
  margin-top: 47px;
  margin-bottom: 0px;
}

.description span{
  margin: 0;
  margin-top: 24px;
  line-height: 21px;
  margin-bottom: 21px;
}

.description p{
  margin: 0;
  padding: 0;
  line-height: 21px;
  max-width: 310px;
}

.reason .reason-photo{
  width:800px;
  height: 255px;
  background-position: left center;
}

.reason:nth-of-type(3) .reason-photo{
  background-color: #b3b3c1;
  background-image: url("../img/reason-1.jpg");
}

.reason:nth-of-type(5) .reason-photo{
  background-color: #e0ad98;
  background-image: url("../img/reason-2.jpg");
  order: -1;
}

/*---Features---*/
.features{
  min-height: 330px;
}

.features-items{
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  justify-content: space-between;
}

.feature-item h3{
  margin: 26px 0px 20px;
  line-height: 21px;
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.feature-item{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.feature-item p{
  margin: 0;
  padding: 0;
  line-height: 21px;
  margin-top: 5px;
  margin-bottom: 55px;
  max-width: 290px;
}

.feature-item::before{
  content:"";
  width: 80px;
  height: 74px;
  margin: 60px auto 0px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/*features icons*/
.feature-item:first-child::before{
  background-image: url("../img/icon-1.svg");
}

.feature-item:nth-child(2)::before{
  padding-left: 1px;
  background-image: url("../img/icon-3.svg");
}

.feature-item:last-child::before{
  height:76px;
  margin-top: 55px;
  padding-left: 13px;
  padding-bottom: 5px;
  background-image: url("../img/icon-2.svg");
}

/*---Gray-reason---*/
.gray-reason{
  background-color: #eee;
  color: #333;
}

.gray-reason h3,
.result-description h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color:black;
}

/*---Search---*/
.searchhotel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 294px;
}

.searchhotel h2{
  padding: 0;
  margin: 52px 0px 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: black;
}

.searchhotel p{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  width: 445px;
  line-height: 24px;
}

.btn-search-hotel{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 47px;
  width: 570px;
  height: 90px;
  padding-top: 30px;
  background-color: #766357;
  color:white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.btn-search-hotel:hover, .book:hover{
  background-color: #604e43;
}

.btn-search-hotel:active, .book:active{
  background-color: #503e33;
  color:rgba(255,255,255,0.3);
}

/*---map---*/
.map{
  height: 470px;
  background-color: #cbdda9;
  background-image: url("../img/map-temp.jpg");
}

.map iframe{
  border: none;
}

/*---Footer---*/
.main-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 36px;
}

.hashtag{
  margin-left: 130px;
}

.hashtag a{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  color: black;
  text-decoration: none;
}

.social{
  margin-left: 35px;
}

.social ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social a{
  display: block;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  font-size: 0px;
  margin-right: 5px;
}

.social a svg{
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.social a:active svg{
  fill-opacity: .3;
}

.social a:hover{
  background-color: #669ec0;
}

.social a:active{
  background-color: #5496bd;
}

.copyright{
  margin-right: 100px;
}

.copyright a{
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 0px;
  text-decoration: none;
  height: 41px;
  width: 196px;
}

.copyright svg{
  width: 115px;
  height: 40px;
}

.copyright a:hover .htmlacademy{
  fill: #81b3d2;
}

.copyright a:active .htmlacademy{
  fill: #bdbbbc;
}

.copyright p{
  font-size: 14px;
  color:black;
  margin-right: 6px;
}

/*---Search form---*/
.modal-search{
  position: absolute;
  width: 570px;
  height: 395px;
  left: 50%;
  transform: translateX(-50%);
  top: 78.6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.search-form{
  margin: 0;
  padding: 29px 0px 0px 57px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  height: 394px;

  transition-property: height;
  transition-duration: 0.1s;

  width: 570px;
  background-color: white;
  box-shadow: 0px 7px 15px 0px rgba(0,1,1,0.15);
}

.search-form p{
  margin-top: 22px;
  margin-bottom: 0px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-form input{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  height: 40px;
  padding-left: 10px;
}

.search-form .search{
  width: 345px;
}

.search-form .people{
  width: 40px;
  box-sizing: border-box;
  padding-left: 15px;
}

.search-form input::-webkit-input-placeholder{
  color: black;
}

.search-form input[type="text"]::-moz-placeholder{
  color: black;
  opacity: 1;
}

.search-form input::-webkit-search-cancel-button{
  display: none;
}

.search-form input:hover{
  background-color: #ebebeb;
}

.search-form input:focus{
  outline: 1px solid #e5e5e5;
  background-color: white;
}

.search-form label{
  margin:0;
  padding:0;
  margin-right: 14px;
  box-sizing: border-box;
  width: 100px;
  font-weight: bold;
  color: black;
}

.search-form p:last-of-type{
  margin-top: 25px;
}

.search-form .small{
  width: 50px;
}

.search-form .calendar{
  font-size: 0px;
  box-sizing: border-box;
  margin-left: -32px;
  margin-top: 10px;
}

.calendar svg{
  fill:#cacaca;
}

.calendar:hover svg{
  fill: black;
}

.calendar:active svg{
  fill: #81b3d2;
}

.search-form .btn-search{
  border: none;
  background-color: #81b3d2;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  width:458px;
  height: 58px;
  margin-top: 53px;
}

.btn-inc{
  border:none;
  margin:0;
  padding:0;
  width:35px;
  height: 40px;
  font-weight: bold;
  font-size: 21px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.btn-inc:hover{
  color: black;
}

.btn-inc:active{
  color: #81b3d2;
}

.btn-inc:nth-of-type(2){
  margin-right: 57px;
}

.form-closed{
  padding: 0;
  height: 0px;
  transition-duration: 0.1s;
  transition-property: height;
}

/*-------------------Hotels---------------------------------------------------*/

.filters{
  background-color: #31403b;
  background-image: url("../img/hotels-background.jpg");
  background-position: 0px center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 72px;
  padding-right: 72px;
}

.filters-form{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 10px;
}

.filters-form fieldset{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 118px;
}

.filters-form legend{
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 21px;
}

.filters-form label{
  display: flex;
  margin-bottom: 23px;
}

.checkbox{
  display: none;
}

.filters-form .check{
  font-size: 14px;
  line-height: 23px;
  color: white;
}

.filters-form .check::before{
  content: "";
  background-image:url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  margin-right:13px;
}

.checkbox:checked+.check::before{
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:disabled+.check::before{
  background-image: url("../img/checkbox-off-disabled.svg");
}

.checkbox:disabled:checked+.check::before{
  background-image: url("../img/checkbox-on-disabled.svg");
}

.range-wrapper{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.filters-form .range-filter{
  width:320px;
  margin-right: 0px;
}


.range-filter legend{
  margin-bottom: 7px;
}

.range{
  position: relative;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  vertical-align: middle;
  border: 2px solid white;
  border-radius: 2px;
}

.range label{
  color: white;
  line-height: 35px;
  font-size: 14px;
  margin-left: 50px;
}

.range input{
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  width: 80px;
  padding-left: 5px;
}

.range input::-webkit-input-placeholder{
  color: white;
}

.range input[type="text"]::-moz-input-placeholder{
  color: white;
}

.range::after{
  content: "";
  position: absolute;
  background-color: white;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 2px;
  height: 30px;
}

.dial{
  margin-top: 20px;
  position: relative;
}

.dial .dial-back{
  background-color: rgba(255, 255, 255, 0.3);
  width:100%;
  height: 2px;
}

.dial .dial-front{
  background-color: white;
  width: 80%;
  height: 2px;
  margin-top: -2px;
}

.range-min, .range-max{
  position:absolute;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-min:hover,
.range-max:hover{
  width: 22px;
  height: 25px;
}

.range-max{
  left: 80%;
  transform: translateY(-50%);
}

.btn-filter{
  display: block;
  margin: 30px auto 0px;
  width: 135px;
  height: 35px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
}

.btn-filter:hover{
  background-color: white;
  color: black;
}

.results-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 87px;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.results-controls b{
  font-size: 21px;
  color: black;
}

.results-controls p{
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.order-by{
  display: flex;
  flex-grow:1;
  align-items: center;
  margin-left: 50px;
  padding-top: 5px;
}

.results-ordering{
  display: flex;
  list-style: none;
  padding: 0;
}

.results-ordering li{
  margin-right: 30px;
}

.results-ordering a{
  text-decoration: none;
  color: rgba(0,0,0,0.3);
  font-size: 12px;
  line-height: 18px;
  border-bottom:1px dashed #81b3d2;
}

.results-ordering a:hover{
  color: #81b3d2;
}

.results-ordering a:active{
  color: black;
  border: none;
}

.ordering-current a{
  color: #81b3d2;
  border: none;
}

.order{
  display: flex;
  align-items: center;
  font-size: 0px;
}

.order a{
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height:11px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.order a:first-child{
  margin-right: 10px;
}

.order a .asc-desc{
  fill: #cacaca;
}

.order a:hover .asc-desc{
  fill: #231f20;
}

.order a:active .asc-desc{
  fill: #81b3d2;
}

.order .order-current .asc-desc{
  fill: #81b3d2;
}

/*----Results---*/
.result-items{
  display:flex;
  flex-direction:column;
}

.result-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding:30px 72px;
  max-height: 150px;
  border-bottom:1px solid #e5e5e5;
}

.result-photo img{
  display: block;
  margin: 0;
  padding: 0;
}

.result-type{
  display:flex;
  margin-top: 6px;
}

.result-description{
  display: flex;
  flex-direction: column;
  min-height: 90px;
}

.result-category{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-category span{
  margin: 0;
  margin-bottom: 14px;
}

.result-description a{
  text-decoration: none;
}

.result-description h3{
  margin: 0;
  padding: 0;
}

.result-description h3:hover{
  color: #81b3d2;
}

.result-description h3:active{
  color: #cacaca;
}

.result-type p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.more{
  width: 110px;
  height: 27px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #81b3d2;
  margin-right: 7px;
}

.more:hover, .btn-search:hover{
  background-color: #669ec0;
}

.more:active, .btn-search:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book{
  width: 140px;
  height: 27px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #766357;
}

.result-item .result-photo{
  margin-right: 30px;
}


.rating{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.rating .star{
  display: flex;
  height: 16px;
  font-size: 0px;
}

.rating span{
  width:110px;
  box-sizing: border-box;
  height: 27px;
  background-color: #f2f2f2;
  line-height: 21px;
  color: #666;
  text-align: center;
  padding-top: 3px;
}

.star span{
  display: block;
  margin:0;
  padding:0;
  background-color: transparent;
  background-image: url("../img/star.svg");
  width: 18px;
  height: 16px;
  margin-left: 5px;
}
